@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #f6f3f3;
    /* height: 100vh; */
    /* width: 100vw; */
    font-family: "Josefin Sans", sans-serif;
}
.Logo{
    background-image: url(Om.png);
    -webkit-background-composite: inherit;

}
